accelerate==1.0.1
asteval==1.0.6
bitsandbytes==0.47.0
datasets==3.0.1
peft==0.15.1
scikit-learn==1.6.0
sentence-transformers==2.2.2
torch==2.7.1+cu126
torchaudio==2.7.1+cu126
torchvision==0.22.1+cu126
torchsummary==1.5.1
transformers==4.48.0
trl==0.17.0